/*
 * Chargement des fontes
 * Voir : http://cours-web.ch/css/typographie
*/


@font-face {
    font-family: 'selectricroman';
    src: url('../fonts/selectricroman.woff2') format('woff2'),
         url('../fonts/selectricroman.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'selectricmono';
    src: url('../fonts/selectricmono.woff2') format('woff2'),
         url('../fonts/selectricmono.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


html {
	font-family: selectricroman, serif;

		background: linear-gradient(135deg, red, #c4c5c5);

	padding: 10px;

	border: 20px solid yellow;
	height: 100%;

}

body {
	max-width: 50em;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-family: selectricmono, monospace;
	color: yellow;
	background-color: #000000;
	text-align: center;
	padding: 3em 0.5em
	animation-name: translate;
				animation-duration: 6s;
				animation-iteration-count: infinite;
				animation-timing-function: linear;
}


p { text-indent: 1.8em;
}


@@keyframes mouvement {
	0% {
	transform: translate(-20px, -20px);
	opacity: 0.5
	}
	100% {
transform: translate(20px, 20px);
	}
}

@keyframes grow {

				to {
					transform: scale(1.2);
					transform: translateX(25px) rotate(-45deg);
					background-color: green;
					color: white;
				}
			}

			@keyframes pulse {
			    0%, 100% {
			        background-color: #ddd;
			    }
			    50% {
			        transform: scale(1.5) rotate(90deg);
			        background-color: orange;
			    }
			    100% {
			        transform: scale(1) rotate(180deg);
			    }
			}

			@keyframes translate {

							to {
								transform: translateX(-70px);
							}
						}

.image1 {
	max-width: 100%;
	margin-top: 16em;
	animation-name: pulse;
				animation-duration: 1s;
				animation-iteration-count: infinite;
				animation-timing-function: linear;
}



/*
 * Définition du modèle de boîte
 * Voir : http://cours-web.ch/css/box-model
*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
